<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1 class="navbar-brand">Blogger</h1>
            <form class="d-flex">
                <a href="/" class="btn btn-outline-secondary me-2" type="button">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="btn btn-outline-success me-2" type="button">POST</a>
                <button id="logout" class="btn btn-outline-danger me-2" type="button">Logout</button>
                {{else}}
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#loginModal">Login</button>
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#signupModal">Sign-Up!</button>
                {{/if}}
            </form>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Log in here!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="signup-form">
                        <div class="mb-3">
                            <label for="email-login" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email-signup" placeholder="name@example.com" />
                        </div>
                        <div class="mb-3">
                            <label for="password-login" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password-signup" placeholder="**********" />
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="button" class="btn btn-outline-primary me-2" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#signupModal">Sign-Up!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign up here!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="signup-form">
                        <div class="mb-3">
                            <label for="username-signup" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username-signup" placeholder="username" />
                        </div>
                        <div class="mb-3">
                            <label for="email-signup" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email-signup" placeholder="name@example.com" />
                        </div>
                        <div class="mb-3">
                            <label for="password-signup" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password-signup" placeholder="**********" />
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Sign-Up!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{#if loggedIn}}
    <script src="../../public/javascript/logout.js"></script>
    {{else}}
    <script src="../../public/javascript/login.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>